*{
    margin : 0 ;
    padding : 0 ;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-sizing: border-box;
}
body{
    background-color:rgb(5, 5, 66) ;
}
.app{
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    margin : 100px auto 0;
}
.app h1{
    font-size: 35px;
    color :darkblue;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 2px solid skyblue;
  
}
.quiz{
    padding : 30px 0;
}
.quiz h2{
    font-size: 24px;
    color :darkslateblue;
    font-weight: 600;
}
.btn{
    background-color: azure;
    color: black;
    font-weight: 500;
    width: 100%;
    border : 1px solid skyblue;
    padding : 10px ;
    margin : 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3sec;
}
.btn:hover:not([disabled]){
    background-color: darkblue;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: rgb(3, 3, 81);
    color: beige;
    font-weight: 500;
    width: 150px;
    border : 0;
    padding : 10px;
    margin : 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    display: none;
}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
